* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}
html {
    font-size: calc(4px + 0.45vw);
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
a {
    text-decoration: none;
    color: #000;
}
*:focus {
  outline: 0;
}
/* Primary
--------------------------------*/
.main {
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 2rem;
}
header {
    line-height: 12rem;
    height: 12rem;
}
header h1 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

header li {
    float: left;
    width: 12.5%;
    text-align: center;
    text-transform: uppercase;
}
header li:nth-child(4) {
    width: 25%;
}
header li a {
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 2px;
}
.text {
    font-size: 2rem;
    padding: 2rem 0;
    -webkit-columns: 3;
    columns: 3;
}
.text p {
    margin-bottom: 2rem;
}
@media screen and (max-width: 800px) {
    header ul li:not(:nth-child(4)) {
        display: none;
    }
    header ul li:nth-child(4) {
        width: 100%;
    }
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
    color: black;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
} 